{% extends 'base.html' %}
{% block title %}Sign up{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card" data-bs-theme="dark">
                    <div class="card-header">
                        <h3 class="text-center">Creati-va un nou cont</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-outline-success">Save</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}