{% extends 'base.html' %}
{% block title %} Examen nou {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card" data-bs-theme="dark">
                    <div class="card-header">
                        <h3 class="text-center">Programati un examen</h3>
                    </div>
                    <form method="post">
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}