{% extends 'base.html' %}
{% block title %} New classroom {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card" data-bs-theme="dark">
                    <div class="card-header">
                        <h3 class="text-center">Programati o sala de curs</h3>
                    </div>
                    <form method="post">
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            var allFieldsCompleted = false
            // Capture changes in dependent fields (data, ora_incepere, durata, nr_studenti).
            $('#id_data, #id_ora_incepere, #id_durata, #id_nr_studenti').on('change', function () {
                // Gather selected values from dependent fields.
                var selectedData = $('#id_data').val();
                var selectedOraIncepere = $('#id_ora_incepere').val();
                var selectedDurata = $('#id_durata').val();
                var selectedNrStudenti = $('#id_nr_studenti').val();

                allFieldsCompleted = selectedData && selectedOraIncepere && selectedDurata && selectedNrStudenti;

                // Make an AJAX request to get available classrooms based on selected values.
                if (allFieldsCompleted) {
                    $.ajax({
                        url: $('#id_sala_examen').data('data-url'),
                        data: {
                            data: selectedData,
                            ora_incepere: selectedOraIncepere,
                            durata: selectedDurata,
                            nr_studenti: selectedNrStudenti,
                        },
                        success: function (data) {
                            console.log('Received data:', data)
                            // Populate the 'sala_examen' select element with available options.
                            var salaExamenSelect = $('#id_sala_examen');
                            console.log('salaExamenSelect:', salaExamenSelect)
                            salaExamenSelect.empty();

                            // Add available options from the AJAX response.
                            $.each(data.classrooms, function (index, classroom) {
                                salaExamenSelect.append(
                                    new Option(classroom.name, classroom.id, false, false)
                                );
                            });
                        }
                    });
                }
            });
        });
    </script>

    <script>
        function enableSalaExamenFields() {
            // Get the sala examen fields.
            const salaExamenField = document.querySelector('#id_sala_examen');

            // Get the date and time fields for sala examen 1.
            const dataExamenField = document.querySelector('#id_data');
            const oraIncepereField = document.querySelector('#id_ora_incepere');
            const durataField = document.querySelector('#id_durata');
            const nr_studentiField = document.querySelector('#id_nr_studenti');


            // Enable the sala examen fields only if all of the date and time fields are selected and the date has been changed and the time has been changed.
            salaExamenField.disabled = !dataExamenField.value || !oraIncepereField.value || !durataField.value || !nr_studentiField.value
        }

        // Listen for the change event on all of the date and time fields.
        document.querySelector('#id_data').addEventListener('change', enableSalaExamenFields);
        document.querySelector('#id_ora_incepere').addEventListener('change', enableSalaExamenFields);
        document.querySelector('#id_durata').addEventListener('change', enableSalaExamenFields);
        document.querySelector('#id_nr_studenti').addEventListener('change', enableSalaExamenFields);

    </script>
{% endblock %}