<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home-page' %}">Examene</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home-page' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Sali de curs
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'create-classroom' %}">Adaugati o noua sala de
                            curs</a></li>
                        <li><a class="dropdown-item" href="{% url 'classroom-list' %}">Lista cu salile de curs</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Programari examene
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'schedule-classroom' %}">Programati o sala pentru examen</a></li>
                        <li><a class="dropdown-item" href="{% url 'schedule-exam' %}">Programati un examen</a></li>
                    </ul>
                </li>
            </ul>
            <div>
                {% if user.is_authenticated %}
                    <a href='{% url 'logout' %}' class="btn btn-outline-danger">Logout</a>
                {% else %}
                    <a href='{% url 'login' %}' class="btn btn-outline-success">Login</a>
                    <a href="{% url 'create-user' %}" class="btn btn-outline-secondary">Sign up</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>