{% extends 'base.html' %}

{% block title %} List of students {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card" data-bs-theme="dark">
                    <div class="card-header">
                        <h2 class="text-center">Filters</h2>
                    </div>
                    <form method="get">
                        <div class="card-body">
                            {{ form_filters.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success">Search</button>
                            <a href="{% url 'classroom-list' %}" class="btn btn-outline-danger">Reset</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                {% if all_classrooms %}
                    <table class="table table-dark table-striped">
                        <thead>
                        <th>Numele salii</th>
                        <th>Nr. de locuri</th>
                        <th>Corp</th>
                        <th>Etaj</th>
                        <th>Actiuni</th>
                        </thead>
                        {# The head of the list #}
                        <tbody>
                        {% for classroom in all_classrooms %}
                            <tr>
                                <td>{{ classroom.name|upper }}</td>
                                <td>{{ classroom.space }}</td>
                                <td>{{ classroom.corp }}</td>
                                <td>{{ classroom.etaj }}</td>
                                <td>
                                    <div class="dropdown" data-bs-theme="dark">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">mai multe actiuni
                                        </button>
                                        <ul class="dropdown-menu">
                                            {#                                            <li><a class="dropdown-item"#}
                                            {#                                               href="{% url 'update-student' student.id %}">Update</a></li>#}
                                            {#                                        <li><a class="dropdown-item"#}
                                            {#                                               href="{% url 'delete-student' student.id %}">Delete</a></li>#}
                                            {#                                        <li><a class="dropdown-item" href="{% url 'detail-student' student.id %}">Details</a>#}
                                            {#                                        </li>#}
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        {# The content of the list #}
                    </table>
                {% else %}
                    <div>
                        <p class='text-center'>
                            Nu exista sali dupa acest criteriu (sau nu exista sali deloc in baza de date)
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}